.advantages {
  p {
    font-size: 30px;
    font-weight: 500;
  }

  .wrapper {
    display: flex;
    gap: 40px;

    .greyRectangle {
      background-color: #F5F5F5;
      width: 326px;
      height: 170px;
      padding: 20px 50px 10px 24px;
      border-radius: 1em;
    }

    p {
      font-weight: 500;
      font-size: 26px;
    }

    img {
      width: 60px;
    }
  }
}

