.popup {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  width: 100%;
  height: 100%;

  .bg {
    background-color: black;
    opacity: 0.3;
    width: 100%;
    height: 100%;
  }

  .card {
    padding: 50px 60px;
    background-color: white;
    width: 436px;
    height: 278px;
    border-radius: 30px;
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 8px;

    .smile {
      width: 76px;
      height: 51px;
    }

    .cross {
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: white;
      border: none;
      border-radius: 50%;
      position: absolute;
      right: 20px;
      top: 18px;

      img {
        width: 20px;
      }

      &:hover {
        background-color: var(--arrow-hover-bg);
      }
    }

    p {
      margin: 10px 0;
      font-weight: 500;
      font-size: 24px;
    }

    .blueButton {
      margin-left: auto;
      margin-top: 1em;
      background-color: var(--light-blue);
      border: none;
      border-radius: 10px;
      width: 85px;
      height: 48px;
      color: white;
      transition: 0.3s ease;
      font-size: 16px;
      &:hover {
        background-color: var(--blue-button-hover);
      }
      &:focus {
        outline-color: var(--focus-blue);
      }
    }
  }
}