.toCartButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  background-color: var(--light-blue);
  border: none;
  border-radius: 10px;
  width: 170px;
  height: 48px;
  color: white;
  transition: 0.3s ease;

  img {
    width: 20px;
  }

  &:hover {
    background-color: var(--blue-button-hover);
  }

  &:focus {
    outline-color: var(--focus-blue);
  }

  &:disabled {
    background-color: var(--blue-button-disabled);
  }
}

.inCartButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  background-color: var(--pink);
  border: none;
  border-radius: 10px;
  width: 130px;
  height: 48px;
  color: white;
  transition: 0.3s ease;

  img {
    width: 20px;
  }

  &:hover {
    background-color: var(--pink-hover);
  }

  &:focus {
    outline-color: var(--focus-blue);
  }

  &:disabled {
    background-color: var(--blue-button-disabled);
  }
}