.header {
  background-color: white;

  .container {
    display: flex;
    align-items: center;
    gap: 2em;
  }

  .logo {
    display: flex;
    text-decoration: none;
    font-weight: 500;
    font-size: 30px;
    gap: 8px;
    .first {
      color: var(--light-blue);
    }
    .second {
      color: black;
    }
  }

  .catalogLink {
    width: 120px;
    height: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    margin-left: auto;
    text-decoration: none;
    align-items: center;
    color: var(--light-blue);
    gap: 8px;
    font-weight: 500;
    transition: 0.3s ease;

    &:hover {
      background-color: var(--arrow-hover-bg);
    }

    &:focus-visible {
      outline-color:  var(--focus-blue);
    }
  }

  .link {
    width: 120px;
    height: 50px;
    border-radius: 10px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--light-blue);
    gap: 8px;
    font-weight: 500;
    border: none;
    background-color: white;
    transition: 0.3s ease;

    &:focus {
      outline-color:  var(--focus-blue);
    }

    &:hover {
      background-color: var(--arrow-hover-bg);
    }
  }
}