.card {
  padding-bottom: 14px;
  border-radius: 20px;
  transition: 0.3s ease;

  button {
    margin-left: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    background-color: var(--light-blue);
    border: none;
    border-radius: 10px;
    width: 180px;
    height: 48px;
    color: white;

    img {
      width: 20px;
    }
  }

  &:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  }
}
