.buttons {
  display: flex;
  gap: 8px;
  justify-content: center;
  padding: 60px 0;

  button {
    background-color: white;
    border: none;
    color: var(--light-blue);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transition: 0.3s ease;

    &:hover {
      background-color: var(--pale-blue);
      color: white;
    }

    &.active {
      color: white;
      background-color: var(--light-blue);
    }
  }

  span {
    margin-top: 4px;
    color: var(--light-blue);
  }
}